.imgItem {
    width: 220px;
    margin: 0.8rem;
}

.flexItem {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.pItem {
    color: #3498DB;
    font-weight: bold;
    font-size: 19px;
    margin: 0.5rem;
}

.divItem {
    background-color: #F4F6F6;
    border: 1px solid #ABB2B9;
    border-radius: 7px;
}

.divItem:hover {
    -webkit-box-shadow: 0px 0px 42px -4px rgba(214, 219, 223, 1);
    -moz-box-shadow: 0px 0px 42px -4px rgba(214, 219, 223, 1);
    box-shadow: 0px 0px 42px -4px rgba(214, 219, 223, 1);
}

.btnVerDetalles {
    margin: 1rem;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btnVerDetalles:hover {
    background-color: #45A049;
}

.btnVerDetalles:active {
    background-color: #367d38;
}