.flexNavBar {
    background-color: black;
}

.flexDivBar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.wePlay {
    font-size: 2rem;
    color: whitesmoke;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

li {
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 2rem;
    color: whitesmoke;
    font-size: 1rem;
}

.estiloNavLink {
    text-decoration: none;
    color: aqua;
}