.tituloProductos {
    background-color: #F2F4F4;
    color: #21252a;
    background-size: 1300px;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
}